<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ company_name.title() +" | "+project_name.title() }}</title>
    <!-- disable zooming in mobile devices -->
    <meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 3rd party style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/dataTables.bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/toastr.min.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url('css/diff2html.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/github.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url('css/backlog.css') }}" type="text/css" />

    <!-- chat -->
    <link rel="stylesheet" href="{{ static_url('css/AdminLTE.min.css') }}" type="text/css" />

    <!-- style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/general.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/box.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/tabs.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/ide.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/github.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/diff2html.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/repository.css') }}" type="text/css" />

    <!-- fullCalendar -->
    <link rel="stylesheet" href="{{ static_url('css/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/calendar.css') }}">

    <!-- dynamic modal -->
    <link rel="stylesheet" href="{{ static_url('css/dynamic-modal.css') }}">

    <!-- data table -->
    <link rel="stylesheet" href="{{ static_url('css/dataTables.bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/editor.bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/buttons.dataTables.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/select.dataTables.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/select.jqueryui.min.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url('css/buttons.bootstrap.min.css') }}" type="text/css" />


</head>

<body >
    <!-- top menu bar -->
    <header class="container-fluid">
        <nav class="nav-row" >
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/"><b style="font-size:small">TeamSudio</b></a></li>
                <li>
                     <ol class="breadcrumb">
                         <li><a id="company" data-id="{{ company_id }}" href="/{{ company_name }}">{{ company_name.title() }}</a></li>
                         <li class="active"><a id="project" data-id="{{ project_id }}"  href="{{ '/'+company_name +'/'+project_name}}">{{ project_name.title() }}</a></li>
                     </ol>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user_name.title() }} </a>
                    <ul class="dropdown-menu">
                        <li class="user-profile-header">
                            <img src="{{ static_url('img/default-profile.png') }}" class="img-circle" alt="User Image">
                            <p>{{ user_name.title() }}</p>
                        </li>
                        <li class="user-profile-footer col-xs-12">
                            <div class="col-xs-6 text-center">
                                <a href="/u/{{ user_name }}">Profile</a>
                             </div>
                             <div class="col-xs-6 text-center">
                                <a href="/signout">Sign out</a>
                             </div>
                        </li>
                     </ul>
                </li>
                <li ><span class="vertical-sepertor">|</span></li>
                <li ><a id="setting-btn"><span class="ion-android-chat"></span></a></li>
            </ul>
        </nav>
    </header>

    <!-- right slide menu -->
    <div id="slide-menu">
        <div class="box box-without-border direct-chat direct-chat-primary">
        <div class="box-body" >
          <!-- Conversations are loaded here -->
          <div class="direct-chat-messages">
            <!--<div class="loader">
                <svg class="circular">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10">
                    </circle>
                </svg>
           </div>-->
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="input-group">
              <input name="message" placeholder="Type Message ..." class="form-control" type="text">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat ion-android-send"></button>
              </span>
            </div>
        </div><!-- /.box-footer-->
      </div>
    </div>

    <!-- application area  -->
    <div id="app-container" class="app-container">
        <div id="header-tab" class="tab">
            <ul class="tab-links">
                <li id="overview" data-toggle="overview-container">Overview</li>
                <li id="backlogs" data-toggle="backlog-container">Backlogs</li>
                <li id="work" data-toggle="work-container">Work</li>
                <li id="code" data-toggle="code-container">Repository</li>
                <li id="events" data-toggle="events-container">Events</li>

            </ul>
            <div class="tab-content">
                <div id="overview-container">
                    <!-- should be recent 3 activities in the project-->
                </div>
                <div id="work-container">

                    <div class="explorer col-lg-2 col-md-2">
                        <!-- project explorer -->
                        <div class="title">
                            <span>
                              Sprints
                            </span>
                            <div class="add" >
                                <span class="modal-button" onclick="getColumnNumber()" data-modal="add-column-object" > + </span>
                            </div>
                            <div class="add" onclick="addSprint()">
                                <span> + </span>
                            </div>
                        </div>
                        <div class="sprint-list">
                            <ul id="{{ active_sprint_id }}">
                            {% for sprint in sprint_list %}
                                {% if sprint.is_active %}
                                <li id="sprint-list-{{ sprint.id }}" class="active" onclick="load_sprint(this.id)">
                                <script>
                                var active_sprint = "sprint-list-{{ sprint.id }}";
                                </script>
                                {% else %}
                                <li id="sprint-list-{{ sprint.id }}" onclick="load_sprint(this.id)">
                                {% end %}
                                    <span >
                                        {{ sprint.name }}
                                    </span>
                                    <a>
                                        overview
                                    </a>
                                </li>
                            {% end %}

                            </ul>
                        </div>
                    </div>

                    <div class="content col-md-10 col-sm-12 col-xs-12">
                        <div id="col-menu"></div>
                        <div id="board" class="board">

                        </div>
                    </div>
                </div>

                <div id="backlog-container">
                    <div class="explorer col-lg-2 col-md-2">
                        <div class="title">
                            <span>
                              Backlog
                            </span>
                        </div>
                        <div class="sprint-list">
                            <ul>
                                <li onclick="datatable()">
                                    <span >
                                        ProductBacklog
                                    </span>
                                    <a>
                                        overview
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content col-md-10 col-sm-12 col-xs-12">
                        <div id="col-menu"></div>
                            <div id="board" class="board">
                                <div >
                                    <table id="table" class="table table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th >id</th>
                                                <th >name</th>
                                                <th >duaration</th>
                                                <th >description</th>
                                                <th >priority</th>
                                                <th >diffuclty</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>

                            </div>
                    </div>

                </div>

                <!--   Repository  -->
                <div id="code-container">
                    <div class="col-xs-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div id="repository-tabs" class="custom-tabs">
                                    <ul class="tab">
                                        <li><a href="#source-tab">Source tree</a></li>
                                        <li><a href="#commits-tab">Commits</a></li>
                                        <li><a href="#branches-tab">Branches</a></li>
                                        <li><a href="#tags-tab">Tags</a></li>
                                    </ul>

                                    <!-- source tab -->
                                    <div id="source-tab">
                                        <table id="source-table" class="table table-hover" width="100%" cellspacing="0">
                                            <thead >
                                                <tr>
                                                    <th >Name</th>
                                                    <th >Size</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- committs tab -->
                                    <div id="commits-tab">
                                        <table id="commits-table" class="table table-hover" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th >Author</th>
                                                    <th >Commit</th>
                                                    <th >Message</th>
                                                    <th >Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- branches tab -->
                                    <div id="branches-tab">
                                        <table id="branches-table" class="table table-hover" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th >Name</th>
                                                    <th >Number of commits</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- tags tab -->
                                    <div id="tags-tab">
                                        <table id="tags-table" class="table table-hover" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th >Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="file-viewer" class="box box-warning">
                            <div class="box-header with-border">
                                <i class="ion ion-document"></i>
                                <h6 class="box-title">Preview</h6>
                            </div>
                            <div class="box-body">
                                <center>
                                    Select a file to view.
                                </center>
                            </div>
                        </div>
                        <div id="commit-viewer" class="box box-warning" style="display:none">
                            <div class="box-header with-border">
                                <i class="ion ion-fork-repo"></i>
                                <h6 class="box-title">Preview</h6>
                            </div>
                            <div class="box-body">
                                <center>
                                    Select a commit to view.
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="events-container">
                  <div class="row">

                    <!--  events  -->
                    <div class="col-md-3">

                      <!-- add events -->
                      <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-calendar-check-o"></i>
                          <h4 class="box-title">Add events</h4>
                        </div>
                        <div class="box-body">
                          <div id="external-events">
                            <div class="event-type success" data-type="0">
                                <div class="type-icon">
                                    <i class="ion ion-person-stalker"></i>
                                </div>
                                <span class="type-title">Meeting</span>
                            </div>
                            <div class="event-type primary" data-type="1">
                                <div class="type-icon">
                                    <i class="ion ion-clipboard"></i>
                                </div>

                                <span class="type-title">To Do</span>
                            </div>
                            <div class="event-type warning" data-type="2">
                                <div class="type-icon">
                                    <i class="ion ion-flag"></i>
                                </div>

                                <span class="type-title">Milestone</span>
                            </div>
                            <div class="event-type other"  data-type="3">
                                <div class="type-icon">
                                    <i class="ion ion-bookmark"></i>
                                </div>

                                <span class="type-title">Other</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- ongoing events -->
                      <div class="box box-warning">
                        <div class="box-header with-border">
                            <i class="fa fa-clock-o"></i>
                            <h4 class="box-title">On going</h4>
                        </div>
                        <div class="box-body">
                            <div id="external-events">
                                Wohoo, no events.
                            </div>
                        </div>
                      </div>
                    </div>

                    <!-- calendar  -->
                    <div class="col-md-9">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <i class="fa fa-calendar-o"></i>
                                <h4 class="box-title">Calendar</h4>
                                <div class="box-tools pull-right">
                                    <button id="remove-event-btn" class="btn btn-box-tool" title="Drop event here to remove it">
                                        <i class="fa fa-trash fa-2x"></i>
                                    </button>
                                </div>
                            </div>
                        <div class="box-body">
                            <div id="calendar"></div>
                        </div>
                    </div>

                  </div>
                </div>
                </div>
            </div>

            <!--  modal  -->
            <div id="add_event_modal" class="modal">
                <div class="modal-header">
                    <div class="modal-title">
                        <span>Add Event</span>
                    </div>
                    <button class="modal-close">x</button>
                </div>
                <div class="modal-content">
                    <input id="_evt_title" type="text" placeholder="title">
                    <input id="_evt_desc" type="text" placeholder="desc">
                    <input id="_evt_date" type="text" placeholder="date">
                    <input id="_evt_group" type="text" placeholder="group">
                </div>
                <div class="modal-footer">
                    <div class="modal-buttons">
                        <button class="modal-close">Cancel</button>
                        <button onclick="addEvent()">Create</button>
                    </div>
                </div>
            </div>

            <div id="add-column-object" class="modal">
                <div class="modal-header">
                    <div class="modal-title">
                        <span>Add Column</span>
                    </div>
                </div>
                <div class="modal-content">
                    <div>
                        Column Name <input id="new_column_name"  maxlength="255" type="text">
                    </div>
                    <div>
                        Column Order <select id="new_column_order">

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-buttons">
                        <button class="modal-close">Close</button>
                        <button onClick="addColumn()">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="{{ static_url('js/moment.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ static_url('js/dynamic-modal.js') }}"></script>

    <!-- fullCalendar -->
    <script src="{{ static_url('js/fullcalendar.min.js') }}"></script>

    <!-- datatable -->
    <script src="{{ static_url('js/ayman/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static_url('js/ayman/dataTables.bootstrap.min.js') }}"></script>

    <script src="{{ static_url('js/ayman/dataTables.buttons.min.js') }}"></script>
    <script src="{{ static_url('js/ayman/dataTables.select.min.js') }}"></script>
    <script src="{{ static_url('js/ayman/buttons.bootstrap.min.js') }}"></script>

    <script src="{{ static_url('js/ayman/dataTables.editor.min.js') }}"></script>
    <script src="{{ static_url('js/ayman/editor.bootstrap.min.js') }}"></script>

    <script src="{{ static_url('js/toastr.min.js') }}"></script>
    <script src="{{ static_url('js/highlight.js') }}"></script>
    <script src="{{ static_url('js/classie.js') }}"></script>
    <script src="{{ static_url('js/core.js') }}"></script>
    <script src="{{ static_url('js/modal.js') }}"></script>
    <script src="{{ static_url('js/task-board.js') }}"></script>
    <script src="{{ static_url('js/tabs.js') }}"></script>
    <script src="{{ static_url('js/dom.js') }}"></script>

    <script src="{{ static_url('js/git.js') }}"></script>
    <script src="{{ static_url('js/ace/ace.js') }}"></script>
    <script src="{{ static_url('js/ide.js') }}"></script>

    <script src="{{ static_url('js/diff2html.min.js') }}"></script>

    <script src="{{ static_url('js/repository.js') }}"></script>

    <script src="{{ static_url('js/project.js') }}"></script>

    <script src="{{ static_url('js/datatable.js') }}"></script>

    <!-- events -->
    <script src="{{ static_url('js/events.js') }}"></script>

    <script>
        createTab(document.getElementById("header-tab"));
        var elm = document.getElementById('overview');
        $(elm).click();
        if(active_sprint!= "" || active_sprint !=null){load_sprint(active_sprint);};
    </script>

</body>
</html>