<!DOCTYPE html>
<html lang="en" >
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>backlog</title>
	    <!-- disable zooming in mobile devices -->
	    <meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	    <!-- 3rd party style sheets -->
	    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/awesomplete.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/toastr.min.css') }}" type="text/css" />



	    <!-- style sheets -->
	    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/tabs.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/project.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/box.css') }}" type="text/css" />

	    <link rel="stylesheet" href="{{ static_url('css/dataTables.bootstrap.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/editor.bootstrap.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/buttons.dataTables.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/select.dataTables.min.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ static_url('css/select.jqueryui.min.css') }}" type="text/css" />
	    
	    <link rel="stylesheet" href="{{ static_url('css/buttons.bootstrap.min.css') }}" type="text/css" />
	    


	</head>
		<div class="content col-md-10 col-sm-12 col-xs-12">
        	<div id="col-menu"></div>
        	<div id="backlog-board" class="board">
        		<div >
	        		<table id="table" class="table table-hover" cellspacing="0" width="100%">
	        			<thead>
	        				<tr>
	        					<th></th>
	        					<th >id</th>
				            	<th >name</th>
				            	<th >duaration</th>
				            	<th >description</th>
				            	<th >priority</th>
				            	<th >diffuclty</th>
				        	</tr>
	        			</thead>

	        		</table>
	        	</div> 
    	    </div>
    	</div>

	    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
	    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
	    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
	    <script src="{{ static_url('js/classie.js') }}"></script>
	    <script src="{{ static_url('js/velocity.min.js') }}"></script>
	    <script src="{{ static_url('js/Chart.js') }}"></script>
	    <script src="{{ static_url('js/core.js') }}"></script>
	    <script src="{{ static_url('js/design.js') }}"></script>
	    <script src="{{ static_url('js/task-board.js') }}"></script>
	    <script src="{{ static_url('js/modal.js') }}"></script>
	    <script src="{{ static_url('js/tabs.js') }}"></script>
		<script src="{{ static_url('js/project.js') }}"></script>
		<script src="{{ static_url('js/awesomplete.min.js') }}"></script>
		<script src="{{ static_url('js/toastr.min.js') }}"></script>
		
		<script src="{{ static_url('js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ static_url('js/dataTables.bootstrap.min.js') }}"></script>
		<script src="{{ static_url('js/dataTables.editor.min.js') }}"></script>

		<script src="{{ static_url('js/editor.bootstrap.min.js') }}"></script>
		<script src="{{ static_url('js/dataTables.buttons.min.js') }}"></script>
		<script src="{{ static_url('js/dataTables.select.min.js') }}"></script>
		<script src="{{ static_url('js/buttons.bootstrap.min.js') }}"></script>


		<script src="{{ static_url('js/datatable.js') }}"></script>
		<!-- <script src="{{ static_url('js/backlog.js') }}"></script> -->
		
		<script>

		</script>
</html>
