<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}">

    <link rel="stylesheet" href="{{ static_url('css/toastr.min.css') }}">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <!-- BS DateTime Picker -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-datetimepicker.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}">
    <!-- fullCalendar 2.4 -->
    <link rel="stylesheet" href="{{ static_url('css/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/box.css') }}">

    <link rel="stylesheet" href="{{ static_url('css/calendar.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/dynamic-modal.css') }}">
  </head>
  <body>

    <div id="events-container">

      <div class="row">

        <!--  events  -->
        <div class="col-md-3">

          <!-- add events -->
          <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-calendar-check-o"></i>
              <h4 class="box-title">Add events</h4>
            </div>
            <div class="box-body">
              <div id="external-events">
                <div class="event-type success" data-type="0">
                    <div class="type-icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                    <span class="type-title">Meeting</span>
                </div>
                <div class="event-type primary" data-type="1">
                    <div class="type-icon">
                        <i class="ion ion-clipboard"></i>
                    </div>

                    <span class="type-title">To-Do</span>
                </div>
                <div class="event-type warning" data-type="2">
                    <div class="type-icon">
                        <i class="ion ion-flag"></i>
                    </div>

                    <span class="type-title">Milestone</span>
                </div>
                <div class="event-type other"  data-type="3">
                    <div class="type-icon">
                        <i class="ion ion-bookmark"></i>
                    </div>

                    <span class="type-title">Other</span>
                </div>
              </div>
            </div>
          </div>

          <!-- ongoing events -->
          <div class="box box-warning">
            <div class="box-header with-border">
                <i class="fa fa-clock-o"></i>
                <h4 class="box-title">On going</h4>
            </div>
            <div class="box-body">
                <div id="external-events">
                    Wohoo, no events.
                </div>
            </div>
          </div>
        </div>

        <!-- calendar  -->
        <div class="col-md-9">
            <div class="box box-success">
                <div class="box-header with-border">
                    <i class="fa fa-calendar-o"></i>
                    <h4 class="box-title">Calendar</h4>
                    <div class="box-tools pull-right">
                        <button id="remove-event-btn" class="btn btn-box-tool" title="Drop event here to remove it">
                            <i class="fa fa-trash fa-2x"></i>
                        </button>
                    </div>
                </div>
            <div class="box-body">
                <div id="calendar"></div>
            </div>
        </div>

      </div>
    </div>
    <!-- jQuery -->
    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>

    <!-- jQuery UI -->
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>

    <script src="{{ static_url('js/toastr.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

    <!-- fullCalendar -->
    <script src="{{ static_url('js/moment.min.js') }}"></script>
    <script src="{{ static_url('js/fullcalendar.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Custom script -->

    <script src="{{ static_url('js/dynamic-modal.js') }}"></script>
    <script src="{{ static_url('js/calendar.js') }}"></script>
    <script src="{{ static_url('js/project.js') }}"></script>

  </body>
</html>
