<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grad Project | Meeting </title>
    <!-- disable zooming in mobile devices -->
    <meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 3rd party style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/toastr.min.css') }}" type="text/css" />

    <!-- style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/general.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/box.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/jquery.contextmenu.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url('css/AdminLTE.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/editor.css') }}" type="text/css" />


</head>

<body >
    <!-- top menu bar -->
    <header class="container-fluid">
        <nav class="nav-row" >
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/"><b style="font-size:small">TeamSudio</b></a></li>
                <li>
                     <ol class="breadcrumb">
                         <li><a id="company" data-id="company_id" href="/{{company}}">{{company.title()}}</a></li>
                         <li class="active"><a id="project" data-id="project_id"  href="/{{company}}/{{project}}">{{ project.title()}}</a></li>
                     </ol>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.title()}}</a>
                    <ul class="dropdown-menu">
                        <li class="user-profile-header">
                            <img src="{{ static_url('img/default-profile.png') }}" class="img-circle" alt="User Image">
                            <p>user.title()</p>
                        </li>
                        <li class="user-profile-footer col-xs-12">
                            <div class="col-xs-6 text-center">
                                <a href="/u/{{user.title()}}">Profile</a>
                             </div>
                             <div class="col-xs-6 text-center">
                                <a href="/signout">Sign out</a>
                             </div>
                        </li>
                     </ul>
                </li>
                <li ><span class="vertical-sepertor">|</span></li>
                <li ><a id="setting-btn"><span class="ion-android-chat"></span></a></li>
            </ul>
        </nav>
    </header>

    <!-- right slide menu -->
    <div id="slide-menu">
        <div class="box box-without-border direct-chat direct-chat-primary" style="height: calc(100% - 30px);">
        <div class="box-body" style="height: calc(100% - 30px);">
          <!-- Conversations are loaded here -->
          <div class="direct-chat-messages">

          </div>
        </div>
        <div class="box-footer">
            <div class="input-group">
              <input name="message" placeholder="Type Message ..." class="form-control" type="text">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat ion-android-send"></button>
              </span>
            </div>
        </div>
      </div>
    </div>

    <!-- application area  -->
    <div id="app-container" class="app-container">
        <div class="menu-container">
            <button ><span class="ion-android-document"></span></button>
            <button ><span class="ion-android-clipboard"></span></button>
            <button ><span class="ion-ios-play"></span></button>
            <span id="user-port"></span>
        </div>

        <div class="editor-container">
            <div class="flex-item">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa ion-android-list"></i>
                        <h4 class="box-title">Explorer</h4>
                    </div>
                    <div class="box-body">

                    </div>
                </div>
            </div>

            <div class="flex-item">
                <div class="box" id="editor">
                    <div class="box-body" >
                        <div id="editor-tabs" class="custom-tabs">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <div class="box" id="console">
                    <div class="box-body" >
                    <iframe src="" id="user-console" scroll="no" style="width:100%;height:100%;padding-bottom:20px">
                    </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="contextmenu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="margin-bottom:5px;">
                <li><a tabindex="-1" href="#">New</a></li>
                <li><a tabindex="-1" href="#">Remove</a></li>
            </ul>
        </div>
    </div>

    <script src="{{ static_url('js/moment.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.contextmenu.js') }}"></script>

    <script src="{{ static_url('js/toastr.min.js') }}"></script>
    <script src="{{ static_url('js/chat.js') }}"></script>
    <script src="{{ static_url('js/tree.js') }}"></script>
    <script src="{{ static_url('js/ace/ace.js') }}"></script>
    <script src="{{ static_url('js/editor.js') }}"></script>
    <script src="{{ static_url('js/sshCommand.js') }}"></script>

</body>
</html>