<!DOCTYPE html>
<html lang="en">

<head>
	<!-- disable zooming in mobile devices -->
	<meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 3rd party style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />

    <!-- style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/tabs.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('css/project.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('css/ide.css') }}" type="text/css" />
</head>

<body >
	<!-- top menu bar -->
	<header class="container-fluid">
	    <nav class="nav-row" >
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/">Logo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li ><a id="profile-btn">Ahmed</a></li>
                <li ><span class="vertical-sepertor">|</span></li>
                <li ><a id="setting-btn"><span class="fa fa-th-large"></span></a></li>
            </ul>
        </nav>
	</header>

	<!-- right slide menu -->
	<div id="slide-menu">

    </div>

    <!-- profile pop up menu -->
    <div id="profile-menu">
    	<div class="pointer"></div>
    	<div class="content">
    		<div class="prof-img">
      			<img src=""/>
    			<div class="status">
    			 	<select class="dropdown">
    			 		<option>Online</option>
    			 		<option>Working</option>
    			 		<option>On phone</option>
    			 		<option>Offline</option>
    			 	</select>
    			</div>
    		</div>
    		<div class="prof-details">
				<div class="row"><a>My Profile</a></div>
				<div class="row"><a>Settings</a></div>
				<div class="row"><a onclick="signout()">Sign out</a></div>
    		</div>
    	</div>
		<button class="footer">More</button>
    </div>

	    <!-- application area  -->
	    <div id="app-container" class="app-container">
			<div id="header-tab" class="tab">
				<ul class="tab-links">
					<li data-toggle="#ide-container">Code</li>
				</ul>
				<div class="tab-content">
					<div class="ide-container">
						<button onclick="temp_proj()">New</button>
						<div id="ide-menu">
								<button onclick="createBranch()">create branch</button>
								<button onclick="checkOut()">check out  </button>
								<button onclick="deletePranch()">delete </button>
								<button onclick="rename()">rename </button>
								<button onclick="resetPranch()">reset </button>
								<button onclick="mackeCommit()">make commit</button>
								<button onclick="revert()">revert </li>
								<button onclick="viewStage()">view stage  </button>
								<button onclick="unstage()">unstage </button>
								<button onclick="push()">push </button>
								<button onclick="pull()">pull </button>
						</div>
						<div id="ide-menu"></div>
						<div id="id-project-menu" >
							<span> {{ project_name }}</span>
							<ul>
							{% for file in project_files %}
								<li onclick='openfile(this)'>{{ file }}</li>
							{% end %}
							</ul>
						</div>
						<pre id="ide-editor"></pre>
					</div>
				</div>
			</div>
		</div>
    <!-- Javascript files -->
    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/classie.js') }}"></script>
    <script src="{{ static_url('js/velocity.min.js') }}"></script>
    <script src="{{ static_url('js/core.js') }}"></script>
    <script src="{{ static_url('js/design.js') }}"></script>
    <script src="{{ static_url('js/task-board.js') }}"></script>
    <script src="{{ static_url('js/modal.js') }}"></script>
    <script src="{{ static_url('js/tabs.js') }}"></script>
	<script src="{{ static_url('js/project.js') }}"></script>
	<script src="{{ static_url('js/ide.js') }}"></script>
	<script src="{{ static_url('js/git-commands.js') }}"></script>
	<script src="{{ static_url('js/ace/ace.js') }}"></script>
	<script >
		var editor = ace.edit("ide-editor");
		editor.setTheme("ace/theme/twilight");
    	editor.getSession().setMode("ace/mode/javascript");
    	function openfile(file){
    		file = file.innerHTML;
    		myAjaxWithout(method="GET",url=("/static/repo/"+file),data=undefined,
    			response=function(data){
    				editor.setValue(data);
    			});
    	}
	</script>

</body>
</html>
