<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <!-- disable zooming in mobile devices -->
    <meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 3rd party style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/toastr.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/awesomplete.css') }}" type="text/css" />



    <!-- style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/general.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/box.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/tabs.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/project.css') }}" type="text/css" />

</head>

<body >
    <!-- top menu bar -->
    <header class="container-fluid">
        <nav class="nav-row" >
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/"><b style="font-size:small">TeamSudio</b></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user_name.title() }} </a>
                    <ul class="dropdown-menu">
                        <li class="user-profile-header">
                            <img src="{{ static_url('img/default-profile.png') }}" class="img-circle" alt="User Image">
                            <p>{{ user_name.title() }}</p>
                        </li>
                        <li class="user-profile-footer col-xs-12">
                            <div class="col-xs-6 text-center">
                                <a href="/u/{{ user_name }}">Profile</a>
                             </div>
                             <div class="col-xs-6 text-center">
                                <a href="/signout">Sign out</a>
                             </div>
                        </li>
                     </ul>
                </li>
                <li ><span class="vertical-sepertor">|</span></li>
                <li ><a id="setting-btn"><span class="fa fa-th-large"></span></a></li>
            </ul>
        </nav>
    </header>

    <!-- right slide menu -->
    <div id="slide-menu">

    </div>

        <!-- application area  -->
        <div id="app-container" class="app-container">
            <div id="header-tab" class="tab">
                <ul class="tab-links">
                    <li id="overview-tab" data-toggle="overview-container">Home</li>
                    <li id="projects-tab" data-toggle="projects-container">Projects</li>
                    <li id="people-tab" data-toggle="people-container">People</li>
                </ul>
                <div class="tab-content">
                    <div id="overview-container">
                        <div class="col-lg-4" id="recent-project">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h6 class="box-title">Recent projects</h6>
                                </div>
                                <div class="box-body" style="padding-top:0px;">
                                    <table class="table table-hover borderless" >
                                    {% for proj in projects %}
                                        <tr>
                                            <td>
                                                <div >
                                                    <a href="{{ proj.company_name }}/{{ proj.name}}">
                                                        <span class="ion-android-folder" style="color: rgb(251, 174, 0);font-size: 16px;"></span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="{{ proj.company_name }}/{{ proj.name}}">
                                                    <span style="display:block">{{ proj.name }}</span>
                                                </a>
                                            </td>
                                            <td>
                                                <span >{{ proj.last_activity }}</span>

                                                <!--</div>-->
                                            </td>
                                        </tr>
                                    {% end %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="projects-container">
                        <div class="explorer col-lg-2 col-md-2">
                            <div class="title">
                                <span>projects</span>
                                <div class="add" onclick="addProjectModal()">
                                    <span>+</span>
                                </div>
                                <div class="add" onclick="updateProjectModal()">
                                    <span>+</span>
                                </div>
                            </div>
                            <div class="search-div">
                                <input type="text" id="project-search" oninput="projectSearch(this)">
                                <button>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div id="project-selector">
                                <ul>
                                    {% for proj in projects %}
                                    <li id="{{ proj.project_id.id }}" onclick="getProjectData(this.id)">
                                        <span id="{{proj.company_id}}" >{{ proj.name }}</span>
                                    </li>
                                    {% end %}

                                </ul>
                            </div>
                        </div>
                        <div class="content col-lg-10 col-md-1- col-sm-12">

                            <div class="header">
                                <span class="fa fa-large fa-cog modal-button" onClick="updateProjectModal()" 
                                data-modal="update-project-data"></span>
                            </div>

                            <div class="image">
                                <img src="">
                            </div>

                            <div class="image-details">
                                <!-- FIXME: ayman, this code throw list index out of range when no project hammad's code -->

                                <a id="" class="project-name" href=""></a> <br>
                                <span id="" class="projectManager" ></span>

                                

                            </div>

                            <div class="chart">
                                <canvas id="char-canvas" > </canvas>
                            </div>

                            <div class="left-side-details">

                                <div class="addusertitle">
                                    <span> Invite Team Meamber </span>
                                    <div>
                                        <span class="add modal-button" data-modal="inviteUserModel" data-call="updateUsers">+</span>
                                    </div>
                                </div>
                                <div class="search-div">
                                    <input type="text" id="user-search" oninput="userSearch(this)">
                                    <button>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="people-container">
                    </div>
                </div>
            </div>
            <div id="create_project_modal" class="modal">
                <div class="modal-header">
                    <div class="modal-title">
                        <span>Title</span>
                    </div>
                    <button class="modal-close">x</button>
                </div>
                <div class="modal-content">
                    <form>
                        <input id="_name" type="text" placeholder="name">
                        <input id="_company_id" type="text" placeholder="company">
                        <textarea id="_description"  placeholder="decscription">

                        </textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-buttons">
                        <button class="modal-close">Cancel</button>
                        <button onclick="createNewProject()">Create</button>
                    </div>
                </div>
            </div>
            

            <div id="inviteUserModel" name="this is test" class="modal" >
                        <div class="modal-header">
                            <div class="modal-title">
                                <span>Invite User </span>
                            </div>
                            <button class="modal-close">x</button>
                        </div>
                        <div class="modal-content">

                            <div>
                                <!-- oninput="checkUser(this)"-->
                                <input type="text" id="invite-user-input"></input>
                            </div>
                            <!--
                            <div  id="log" class="users">

                            </div>

                             <div class="invites-list">
                            <ul>

                            </ul>
                            </div>
                            -->
                        </div>
                        <div class="modal-footer">
                            <div class="modal-buttons">
                                <button class="modal-close">Close</button>
                                <!-- onclick="inviteUser()" -->
                                <button onclick="inviteUser()">Add</button>
                            </div>
                        </div>
                    </div>

        </div>

    <!-- Javascript files -->
    <script src="{{ static_url('js/toastr.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/classie.js') }}"></script>
    <script src="{{ static_url('js/Chart.js') }}"></script>
    <script src="{{ static_url('js/core.js') }}"></script>
    <script src="{{ static_url('js/task-board.js') }}"></script>
    <script src="{{ static_url('js/modal.js') }}"></script>
    <script src="{{ static_url('js/tabs.js') }}"></script>
    <script src="{{ static_url('js/dynamic-modal.js') }}"></script>
    <script src="{{ static_url('js/project.js') }}"></script>
    <script src="{{ static_url('js/awesomplete.min.js') }}"></script>


    <script>
    createModals();
        //FIXME: ayman, this code throw list index out of range when no project
        //getProjectData({ { projects[0].project_id.id } });
        $(function() {


        function log( message ) {
          $( "<div>" ).text( message ).prependTo( "#log" );
          $( "#log" ).scrollTop( 0 );
        }

  });



        createTab(document.getElementById("header-tab"));
        var elm = document.getElementById('overview-tab');
        $(elm).click();
    </script>

</body>
</html>