<!DOCTYPE html>
<html lang="en">

<head>
    <!-- disable zooming in mobile devices -->
    <meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 3rd party style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />

    <!-- style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('css/website.css') }}" type="text/css" />
</head>

<body >
    <!-- top menu bar -->
    <header class="container-fluid">
        <nav class="nav-row" >
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/">Logo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<li ><a id="open-signup" href="#">Sign up</a></li>
            </ul>
        </nav>
    </header>
    
	

	<!-- application area  -->
	<div id="app-container" class="app-container">
      <div class="login-container">
  			<div id="login-panel" class="col-lg-3">
          <form >
            <input id="_username-sup" placeholder="invalid" type="text">
          </form>
         
        </div>
      </div>
	</div>

    <!-- javascript files -->
    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/classie.js') }}"></script>
    <script src="{{ static_url('js/velocity.min.js') }}"></script>
    <script src="{{ static_url('js/core.js') }}"></script>
    <script src="{{ static_url('js/design.js') }}"></script>
    <script>

    </script>

</body>
</html>