<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grad Project | Meeting </title>
    <!-- disable zooming in mobile devices -->
    <meta encoding="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 3rd party style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/ionicons.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
    <!-- style sheets -->
    <link rel="stylesheet" href="{{ static_url('css/core.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/general.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/box.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url('css/AdminLTE.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/meeting-test.css') }}" type="text/css" />


</head>

<body >
    <!-- top menu bar -->
    <header class="container-fluid">
        <nav class="nav-row" >
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/"><b style="font-size:small">TeamSudio</b></a></li>
                <li>
                     <ol class="breadcrumb">
                         <li><a id="company"  href="/{{ company_name }}">{{ company_name.title() }}</a></li>
                         <li class="active"><a id="project"  href="{{ '/'+company_name +'/'+project_name}}">{{ project_name.title() }}</a></li>
                     </ol>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user_name.title() }} </a>
                    <ul class="dropdown-menu">
                        <li class="user-profile-header">
                            <img src="{{ static_url('img/default-profile.png') }}" class="img-circle" alt="User Image">
                            <p>{{ user_name.title() }}</p>
                        </li>
                        <li class="user-profile-footer col-xs-12">
                            <div class="col-xs-6 text-center">
                                <a href="/u/{{ user_name }}">Profile</a>
                             </div>
                             <div class="col-xs-6 text-center">
                                <a href="/signout">Sign out</a>
                             </div>
                        </li>
                     </ul>
                </li>
                <li ><span class="vertical-sepertor">|</span></li>
                <li ><a id="setting-btn"><span class="ion-android-chat"></span></a></li>
            </ul>
        </nav>
    </header>

    <!-- right slide menu -->
    <div id="slide-menu">
        <div class="box box-without-border direct-chat direct-chat-primary" style="height: calc(100% - 30px);">
        <div class="box-body" style="height: calc(100% - 30px);">
          <!-- Conversations are loaded here -->
          <div class="direct-chat-messages">

          </div>
        </div>
        <div class="box-footer">
            <div class="input-group">
              <input name="message" placeholder="Type Message ..." class="form-control" type="text">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat ion-android-send"></button>
              </span>
            </div>
        </div>
      </div>
    </div>

    <!-- application area  -->
    <div id="app-container" class="app-container">
        <div id="meeting-space">
            <button id="button" >call</button>
            <div class="box">
                <div class="box-body">
                    <video id="local-user" autoplay>

                    </video>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ static_url('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/moment.min.js') }}"></script>

    <script src="{{ static_url('js/toastr.min.js') }}"></script>
    <script src="{{ static_url('js/adapter.js') }}"></script>
    <script src="{{ static_url('js/multipeer.js') }}"></script>
    <script src="{{ static_url('js/chat.js') }}"></script>

</body>
</html>