<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign in</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css')}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ static_url('css/sign-in-up.css') }}">
    </head>

    <body class="signin-page">
        <div class="signin-box">
            <div class="signin-logo">
                <a>Team<b>Studio</b></a>
            </div>
            <div class="signin-box-body">
                <p class="signin-box-msg">Sign in to join your team</p>
                <div class="row error-msg">
                    <div class="col-xs-12">
                        <p>Invalid username or password!</p>
                    </div>
                </div>
                <form action="" method="post" id="signin-form">
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Username" id="_username_" type="text">
                        <span class="fa fa-user form-control-feedback btn btn-app"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Password" id="_password_" type="password">
                        <span class="fa fa-lock form-control-feedback btn btn-app"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                    </div>
                </form>
                <div class="create">
                    <span>Don't have an account ? <a href="/signup">Sign up</a></span>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{{ static_url('js/core.js')}}"></script>
        <script type="text/javascript" src="{{ static_url('js/sign-in-up.js')}}"></script>

    </body>
</html>