<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Meeting</title>

  </head>

    <video id="localStream" autoplay></video>
    <button id="start-button">Start</button>

    <script src="{{ static_url('adapter.js') }}"></script>
    <!--<script src="{{ static_url('room.js') }}"></script>-->
    <script src="{{ static_url('multipeer.js') }}"></script>


  </body>
</html>
