<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Meeting</title>

    <style>
      body {
        background-color: #3D6DF2;
        margin-top: 15px;
        font-family: sans-serif;
        color: white;
        width:100vw;
        height:100vh;
      }

      video {
        background: black;
        border: 1px solid gray;
      }

      .page {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
      }

      #yours {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 15px;
        right: 15px;
      }

      #theirs {
        width: 100%;
        height: 100%;
      }
      #theirs div{
        width:300px;
        height:300px;
      }
    </style>
  </head>
  <body>
    <div id="call-page" class="page">
      <video id="yours" autoplay></video>
      <video id="theirs" autoplay></video>
      <button id="leave">leave</button>
    </div>
    <script src="{{ static_url('client.js') }}"></script>
  </body>
</html>
