<!-- task -->
<li class="task_card task_type_item">
    <div class="task_header">
        <div class="task_title " type="text" disabled>Task</div>
            <div class="task_edit">
                <div class="fa fa-pencil fa-fw pull-right"></div>
            </div>
        </div>
        <div class="task-details">
            <div class="task-owner">
                <img src="249918180559.jpg" >
                <div><span >Ahmed taj elsir</span></div>
        </div>
        <div class="task-priority">
            <span class="task-priority-value">12</span>
        </div>
    </div>
    <div class="card-footer">
        <div class="task-progress">
            <div class="progress-container">
                <div class="progress-bar"></div>
            </div>
        </div>
    </div>
</li>
<!-- end of task -->