#backlog-container{
    width:100%;
    padding-left:5px;
}
#backlog-container .add-new-item{
    width: 40%;
    height: 25px;
    margin-top: 10px;
    border-width: 1px 1px 1px medium;
    border-style: solid solid solid none;
    border-color: #C3C3C3 #C3C3C3 #C3C3C3 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 2px;
}
#backlog-container .add-new-item .plus-sign {
    display: block;
    height: 100%;
    width: 25px;
    float: left;
}
#backlog-container .add-new-item .plus-sign span{
    color: white;
    width: 100%;
    height: 100%; 
    display: block;
    padding: 0px;
    font-size: 22px;
    background-color: green;
}
#backlog-container .add-new-item span{
    width: calc(100% - 25px);
    height: 100%; 
    display: inline-block; 
    float: right;
    background-color: white;
}
#backlog-container .explorer{
    margin: 0px;
    height: calc(100% - 5px);
    background-color: #F9F9F9;
    border:1px solid gray;
    border-top-width:0px;
    padding:5px;
}

#backlog-container .explorer .title{ 
    display:block;
    width:100%;
    height:30px;
    border-bottom:2px solid orange;
    padding:5px;
    overflow:hidden;
}

#backlog-container  .explorer .title span{ 
    display:inline-block;
    float:left;
    height:100%;
}
#backlog-container  .explorer .title .add{
    display:inline-block;
    float:right;
    width:20px;
    height:100%;
    border:1px solid black;
    background-color:green;
    cursor:pointer;
  
}
#backlog-container  .explorer .title .add span{
    text-align:center;
    width:100%;
    height:100%;
    font-size:14px;
    font-weight:bold;
    color:white;
    margin-top:-1.85px;

}
#backlog-container  .explorer ul{ 
    list-style:none;
    display:block;
    width:100%;
    height:100%;
}
#backlog-container .explorer ul .active{
    border-left:5px solid green;
    padding: padding: 6px 6px 8px;;
}
#backlog-container .explorer ul li:first-child{
    margin-top:10px;
}
#backlog-container .explorer ul li input{
    width:100%;
    height:100%;
    border:1px solid rgba(128,128,128,0.3);
    box-shadow:0px 0px 5px #1395ec;
    outline:none;
}
#backlog-container  .explorer ul li{ 
    list-style:none;
    display:block;
    width:100%;
    height:36px;
    margin-top:3px;
    padding:6px 10px 10px;
    border:1px solid rgba(128,128,128,0.3);
}
#backlog-container .explorer ul li:hover{
    /*background-color:rgba(128,128,128,0.2);*/
}
#backlog-container .explorer ul li:hover a{
    display:inline-block;
}
#backlog-container .explorer ul li span{
    display:inline-block;
    float:left;
}
#backlog-container .explorer ul li a{
    display:inline-block;
    float:right;
    text-decoration:none;
    display:none;
}
#backlog-container .explorer ul li a:hover{
    cursor:pointer;
}
#backlog-container  .content{
    padding: 5px 10px;
    height: 100%;
    background-color: #F9F9F9;
}
#backlog-container  .content #col-menu{
    width:100%;
    height:26px;
}
#backlog-container .content #col-menu .col-item{
    width:25%;
    height:100%;
    display:inline-block;
    float:left;
    padding:3px 10px;
}
#backlog-container .content #col-menu .col-item span{
    display:block;
    padding-bottom: 2px;
    border-bottom: 3px solid brown;
    padding-left: 10px;
}
#backlog-container  .content .board{
    padding:0px;
    width:100%;
    height: calc(100% - 26px);
    border-top: 0px;
    overflow:auto;
}
#backlog-container  .content #board:last-child ul:last-child .task-progress{
    display:none;
}
