*{
  box-sizing: border-box;
}

#events-container{
  font-family: "Segoe UI";
  height:100%;
  padding: 15px 70px;
  margin-right: auto;
  margin-left: auto;
  background:#F6F6F6 none repeat scroll 0% 0%;
  overflow-y:auto;
}
#external-events{
    text-align:center;
}
.event-type{
  text-align:left;
  position: relative;
  width:100%
  min-height:32px;
  height:32px;
  line-height: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  border:1px solid #e3e3e3;
  padding:0px 10px;
  color:white;
  cursor:pointer;
}

.event-type .type-icon{
  width:30px;
  height:30px;
  display: inline-block;
  float:left;
  margin-right: 10px;
  padding:5px;
}
.event-type .type-icon .ion{
  font-size:18px;
}
.event-type.primary{
  border:1px solid #0089FF;
  background-color:#0089FF;
}
.event-type.success{
  border:1px solid #13BC6E ;
  background-color:#13BC6E ;
}
.event-type.warning{
  border:1px solid #F39C12 ;
  background-color: #F39C12 ;
}
.event-type.danger{
  border:1px solid #F2582F  ;
  background-color: #F2582F  ;
}
.event-type.other{
  border: 1px solid #F012BE ;
  background-color:#F012BE ;
}
.event-type .type-title{
  display:block;
  line-height: 20px;
  font-size: 14px;
  font-weight:600;
  padding:5px;
}

#remove-event-btn{
    color:#F39C12;
}
/*
* Customize fullcalendar css
*/

#calendar .fc-state-default.fc-corner-left,.fc-state-default.fc-corner-right{
  border-radius: 2px;
}