
* {
    margin:0;
    padding:0;
    position:relative;
}

body {
    width:100vw;
    height:100vh;
    padding:0px;
    margin:0px;
}
html, body{
    position: fixed; 
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    font-family:Segoe UI;
    overflow:hidden;
}
ol, ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
a{
    cursor:default;
}
input{

}
input:focus{
    box-shadow: 0px 0px 5px #0981F6;
}

/** override bootstrap elements */
/** NOTE: this may change without any notification */
.container-fluid{
    padding:0px;
    height:30px;
}
.nav-row {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 0px;
    background-color: #1395EC;
    height: 30px;
    max-height:30px;
    color:white;
    font-size:12px;
}
.vertical-sepertor{
    padding:5px;
    float: left;
}
#slide-menu{
    position: absolute;
    top: 30px;
    right: -300px;
    z-index: 100;
/* mobile version attention*/
    width: 300px;
    height: calc(100% - 30px);
    background: none repeat scroll 0% 0% #F9F9F9;
    box-shadow: 2px 2px 6px #000;
    border-left: 1px solid #0E639C;
    transition: all 0.5s ease 0s;
}
#slide-menu.open{
    right:0px;
}
#left-menu{
    width:25px;
    height:calc( 100% - 30px );
    left:0px;
    background-color:red;
    z-index:10;
    position:absolute;
}

.row {
    margin-left:0px;
    margin-right:0px;
}
.app-container{
    max-height: 100%;
    margin:0px;
    height: calc(100% - 30px);
    transition:opacity 0.5ms;
    -webkit-transition: opacity 0.5s;
    opacity:1;
    background:#F6F6F6 none repeat scroll 0% 0%;
    overflow: hidden;
}
.app-container .login-container{
    width:100%;
    height:100%;
    background-color: white;
    padding:0px 200px;
}
#overview-container{
    width:100%;
    height:100%;
    padding:20px 15px;
    overflow-x:hidden;
}
#overview-container #recent-project{
    max-height:200px;
    height:200px;
}
#overview-container #recent-project #title{
    width:100%;
    height:25px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ED7713;
}
#overview-container #recent-project #title > div{
    display:block;
    float:right;
}
#overview-container #recent-project #title div a{
    color:gray;
}
#overview-container #recent-project #title div a:hover{
    color:black;
}
#overview-container #recent-project #project-table{
    width:100%;
    height:170px;
    padding:5px 0px;
}
#overview-container #recent-project #project-table .project{
    width:100%;
    height:33%;
    padding:5px 0px 0px;
    cursor:default;
}
#overview-container #recent-project #project-table .project .logo{
    width:48px;
    height:100%;
    display:inline-block;
    float:left;
    background-color:#0A8764;
}
#overview-container #recent-project #project-table .project .logo a,img{
    width:100%;
    height: 100%;
    display:inline-block;
}
#overview-container #recent-project #project-table .project .details{
    width:calc(100% - 48px);
    height:100%;
    display: inline-block;
    float:right;
    padding:0px 10px;
    background-color:rgba(165, 165, 165, 0.1);
}
#overview-container #recent-project #project-table .project .details .close{
    position: absolute;
    width:15px;
    height:15px;
    padding:0px;
    color:black;
    top:0px;
    right:0px;
    display:none;
    cursor:pointer;
}
#overview-container #recent-project #project-table .project:hover .details{
    background-color:rgba(195, 193, 193, 0.2);
}
#overview-container #recent-project #project-table .project:hover .details .close{
    display:block;
}
#overview-container #recent-project #project-table .project .details span{
    display:block;
    width:100%;
    max-height: 20px;
    margin-top:5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#overview-container #recent-project #project-table .project .details a{
    font-size:16px;
}
#overview-container #recent-project #project-table .project .details .time{
    font-size:12px;
}
#work-container{
    width:100%;
    padding-left:5px;
}
#work-container .add-new-item{
    width: 40%;
    height: 25px;
    margin-top: 10px;
    border-width: 1px 1px 1px medium;
    border-style: solid solid solid none;
    border-color: #C3C3C3 #C3C3C3 #C3C3C3 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 2px;
}
#work-container .add-new-item .plus-sign {
    display: block;
    height: 100%;
    width: 25px;
    float: left;
}
#work-container .add-new-item .plus-sign span{
    color: white;
    width: 100%;
    height: 100%; 
    display: block;
    padding: 0px;
    font-size: 22px;
    background-color: green;
}
#work-container .add-new-item span{
    width: calc(100% - 25px);
    height: 100%; 
    display: inline-block; 
    float: right;
    background-color: white;
}
#work-container .explorer{
    margin: 0px;
    height: calc(100% - 5px);
    background-color: #F9F9F9;
    border:1px solid gray;
    border-top-width:0px;
    padding:5px;
}

#work-container .explorer .title{ 
    display:block;
    width:100%;
    height:30px;
    border-bottom:2px solid orange;
    padding:5px;
    overflow:hidden;
}

#work-container  .explorer .title span{ 
    display:inline-block;
    float:left;
    height:100%;
}
#work-container  .explorer .title .add{
    display:inline-block;
    float:right;
    width:20px;
    height:100%;
    border:1px solid black;
    background-color:green;
    cursor:pointer;
  
}
#work-container  .explorer .title .add span{
    text-align:center;
    width:100%;
    height:100%;
    font-size:14px;
    font-weight:bold;
    color:white;
    margin-top:-1.85px;

}
#work-container  .explorer ul{ 
    list-style:none;
    display:block;
    width:100%;
    height:100%;
}
#work-container .explorer ul .active{
    border-left:5px solid green;
    padding: padding: 6px 6px 8px;;
}
#work-container .explorer ul li:first-child{
    margin-top:10px;
}
#work-container .explorer ul li input{
    width:100%;
    height:100%;
    border:1px solid rgba(128,128,128,0.3);
    box-shadow:0px 0px 5px #1395ec;
    outline:none;
}
#work-container  .explorer ul li{ 
    list-style:none;
    display:block;
    width:100%;
    height:36px;
    margin-top:3px;
    padding:6px 10px 10px;
    border:1px solid rgba(128,128,128,0.3);
}
#work-container .explorer ul li:hover{
    /*background-color:rgba(128,128,128,0.2);*/
}
#work-container .explorer ul li:hover a{
    display:inline-block;
}
#work-container .explorer ul li span{
    display:inline-block;
    float:left;
}
#work-container .explorer ul li a{
    display:inline-block;
    float:right;
    text-decoration:none;
    display:none;
}
#work-container .explorer ul li a:hover{
    cursor:pointer;
}
#work-container  .content{
    padding: 5px 10px;
    height: 100%;
    background-color: #F9F9F9;
}
#work-container  .content #col-menu{
    width:100%;
    height:26px;
}
#work-container .content #col-menu .col-item{
    width:25%;
    height:100%;
    display:inline-block;
    float:left;
    padding:3px 10px;
}
#work-container .content #col-menu .col-item span{
    display:block;
    padding-bottom: 2px;
    border-bottom: 3px solid brown;
    padding-left: 10px;
}
#work-container  .content .board{
    padding:0px;
    width:100%;
    height: calc(100% - 26px);
    border-top: 0px;
    overflow:auto;
}
#work-container  .content #board:last-child ul:last-child .task-progress{
    display:none;
}
#events-container .event-menu{
    width:100%;
    height:30px;
    background-color:#C9842B;
}
#events-container   .event-body{
    width:100%;
    height:calc(100% - 30px);
    padding:10px 20px;
    background: url('https://johnpatterson5555.files.wordpress.com/2013/06/3-lucerne.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}
#events-container   .event-body .content{
    width:100%;
    height:100%;
    padding:60px 0px;
}
#events-container   .event-body .content .selected-event{
    width:60%;
    height:100%;
    float:left;
    overflow: hidden;
}
#events-container   .event-body .content .selected-event .container-div{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    color:white;
    border-radius: 3px;
    float:left;
}

#events-container   .event-body .content .selected-event .container-div .details{
    position: absolute;
    top: 0px;
    width:100%;
    height:200px;
    padding: 30px 30px;
}
#events-container   .event-body .content .selected-event .container-div .details ul{
    display:block;
    width:100%;
    height:100%;
    margin-top: 20px;
}
#events-container   .event-body .content .selected-event .container-div .details ul li{
    display:block;
    width:100%;
    height:40px;
    font-size:20px;
}
#events-container   .event-body .content .selected-event .container-div .details ul .day{
    display: block;
    width:100%;
    height: 70px;
    font-size: 50px;
}


#events-container   .event-body .content .selected-event .container-div .title{
    position: absolute;
    bottom: 0px;
    width:100%;
    height:150px;
    padding:30px;
    margin-bottom: 30px
}
#events-container   .event-body .content .selected-event .container-div .title span{
    display:block;
    width:100%;
    height:100%;
    font-size:4em;
}
#events-container   .event-body .content .selected-event .container-div .details ul{
    list-style-type: none;
}
#events-container   .event-body .content .sub-menu{
    width:30%;
    height:100%;
    float:right;
    padding:5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    color:white;
    overflow: hidden;
}
#events-container   .event-body .content .sub-menu ul{
    list-style:none;
    width:100%;
    height:calc(100% - 25px);
    overflow-x: hidden;
    overflow-y: auto;
}
#events-container   .event-body .content .sub-menu ul li{
    display:block;
    margin-top:5px;
    width:100%;
    background-color:rgba(128,128,128,0.5);
    height:72px;
    padding:0px 5px;
    border-radius: 3px;
    cursor: pointer;
}
#events-container   .event-body .content .sub-menu ul li div span:before{
    content: "Title : ";
    font-size:14px;
}
#events-container   .event-body .content .sub-menu ul li div span{
    display:block;
    width:100%;
    height:100%;
    font-size: 20px;
}
#events-container   .event-body .content .sub-menu ul li  .place:before{
    content: "Place : ";
}
#events-container   .event-body .content .sub-menu ul li  .place{
    display:block;
    width:100%;
    height:100%:
}
#events-container   .event-body .content .sub-menu ul li  .date:before{
    content:"Date : ";
}
#events-container   .event-body .content .sub-menu ul li  .date{
    display:block;
    width:100%;
    height:100%:
}
#events-container   .event-body .content .sub-menu button{
    display:block;
    width:100%;
    height:25px;
    border:none;
    color:white;
    background-color:rgba(138,138,138,1);
    border-radius: 3px;
}
/** task board */
.task-col{
    padding:0px;
    border-left:1px solid black;
    border-right:1px solid black;
    list-style:none;
    margin:0px;
    margin-right:-1px;
    padding: 0px 10px;
    height: 100%;
    height:100%;
}

.task_card{
    position: relative;
    min-height: 80px;
    width: auto;
    padding: 5px;
    background: none repeat scroll 0% 0% #FFF;
    /*box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);*/
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,0.31);
    color:black;
    cursor: default;
    border-left: 6px solid #009CCC;
    list-style:none;
    margin-top:10px;
    margin-left:0px;
    margin-right:0px;
    z-index:100;
}

.task_header {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    min-height: 20px;
    height: 20px;
}
.task_title{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    position: relative;
    border: none;
    color: #000;
    padding: 0px;
    background: none repeat scroll 0% 0% #FFF;
    width:70%;
}
.task_title > span{
    font-size: 12px;
    font-style:bold;
    color:black;
}
.task_edit {
    display: inline-block;
    float: right !important;
    box-sizing: border-box;
    cursor: pointer;
    width: 30%;
    height: 100%;
}
.task_edit > div{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    padding: 4px;
    font-size: 14px;
    color: #007ACC;
    border : 1px solid rgba(0, 156, 204, 0.5);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    display:none;
}
.task_card:hover .task_edit div{
    display:inline-block;
}
.task-details {
    width: 100%;
    margin-top: 10px;
    height: 28px;
    display: block;
}
.task-details img{
    display: block;
    float: left;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(128, 128, 128, 0.8);
}
.task-details img + div > span{
    padding-left:5px;
}
.task-owner{
    display: inline-block;
    width:85%;
    height:100%;
}
.task-details .task-owner div{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.21);
}
.task-details .task-owner div span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 20px;
    font-size:13px;
}
.task-priority {
    width: 10%;
    float:right;
    display: inline-block;
}

.task-priority-value {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}

.card-footer {
    width: 100%;
    min-height: 20px;
    display: block;
}   
.task-progress {
    width: 100%;
    display: inline-block;
    height: 5px;
    max-height: 5px;
    background-color: rgba(128, 128, 128, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.19);
}
.task-progress .progress-container {
    width:0px;
    height:100%;
    background-color:green;
}

/*******************************************************************************
                                types 
*******************************************************************************/
.task_type_bug{
    border-left: 6px solid red;
}
.task_type_item{
    border-left: 6px solid #009CCC;
    border-left-color: #009CCC;
}
.task_type_fix{
    border-left: 6px solid orange;
    border-left-color: orange;
}

/*******************************************************************************
                            drag & drop
*******************************************************************************/
.task-dragable{
    margin:0px;
    padding:0px 10px;
}
.highlight-drag{
    background-color:rgba(128,128,128,0.2);
}

.active-link{
    background-color:#0E639C;
}

<<<<<<< HEAD
/**************************************
        Modal classes
**************************************/

=======
>>>>>>> a3ceab46c31b5a0ca88a479af7c2e0b768c19197
/******************************************************************************
                    popup menu                                              
*******************************************************************************/
.popupmenu .pointer{
    border-bottom: 7px solid rgb(210,210,210);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    width: 0px;
    height: 0px;
    top: -8px;
    right: 20px;  
}
.popupmenu .menu{
    display:none;
    position: absolute;
    width:100px;
    height:100px;
    border-radius:2px;
    background-color: #F9F9F9;
    z-index:10;
    border: 1px solid #bbb;
}
.popupmenu .menu ul{
    list-style:none;
    width:100%;
    height:100%;
}
.popupmenu .menu ul li{
    display:block;
    min-height:25px;
}
/**************************************
    Modified Bootstrap components
**************************************/

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: inline-block;
    height:100%;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color:white;
    height:100%;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #0E639C;
    color:white;
}
.nav > li.disabled > a {
    color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}
.nav > li > a > img {
    max-width: none;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 30px;
    line-height: 20px;
    cursor:default;
}
.navbar-nav > li > a:hover {
    background-color: #0E639C;
    color:white;
}
.navbar-nav {
    float: left;
    margin: 0;
    height:100%;
}
.navbar-nav > li {
    float: left;
    height:100%;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    line-height: 20px;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
        height:100%;
    }
    .navbar-nav > li {
        float: left;
        height:100%;
    }
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 30px;
        line-height: 20px;
    }
    .navbar-left {
        float: left !important;
        height:100%;
    }
    .navbar-right {
        float: right !important;
        height:100%;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
        height:100%;
    }
    .app-container .explorer{
        display:block;
    }
    .app-container .content{
        display:block;
    }
}
@media (max-width: 767px) {
    .navbar-left {
        float: left !important;
        height:100%;
    }
    .navbar-right {
        float: right !important;
        height:100%;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
        height:100%;
    }
    .app-container .explorer{
        display:none;
    }
}
@media (max-width: 320px){
    #slide-menu{
        position: absolute;
        top: 30px;
        right: - calc(100% - 30px);
        z-index: 100;
    /* mobile version attention*/
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        background: none repeat scroll 0% 0% #F9F9F9;
        box-shadow: 2px 2px 6px #000;
        border-left: 1px solid #0E639C;
    }
}


#setting-btn span{

    font-size: 16px;
}
