.menu-container{
    display:flex;
    flex-direction:row;
    width: 100%;
    height:30px;
    padding:2px 5px;
    justify-content:center;
}
.menu-container button{
    padding: 0px 6px;
}

.editor-container{
    display:flex;
    flex-direction:row;
    height: 100%;
}
.flex-item{
    width:100%;
    margin-left:2px;
}
.flex-item > .box{
    height:100%;
    border-radius:0px;
    margin:0px;
}
.flex-item > .box .box-title{
    font-size:16px;
}
.flex-item > .box .fa{
    color:#3C8DBC;
}
.flex-item > .box .box-header{
    border-color:gray;
    padding:5px;
}
.flex-item > .box  ul{
    list-style: none;
}
.flex-item > .box  li.tree-folder{
    font-size:15px;
}
.flex-item > .box  li > ul{
    padding-left:10px;
}
.flex-item > .box .ion-android-folder{
    color: #FBAE00;
    padding-right:5px;
}
.flex-item > .box .ion-document{
    padding-right:5px;
}
.flex-item > .box:nth-child(2){
    border:none;
}
.flex-item > .box .box-body{
    height:100%;
}
.flex-item:nth-child(1){
    flex:1 1 0%;
}
.flex-item:nth-child(2){
    flex:5 1 0%;
    display: flex; 
    flex-direction: column;
}
.flex-item:nth-child(2) #editor{
    flex: 2 1 0%;
    border-top:none;
}
.flex-item:nth-child(2) #console{
    flex: 1 1 0%;
}

#editor-tabs{
    margin: -10px;
    background-color: #FFF;
    height:100%;
}
#editor-tabs > div{
    padding: 0px;
    height: 100%;
    border-top: 3px solid rgb(19, 149, 236);
}
#editor-tabs > div > pre{
    height: 100%;
    border-radius:0px;
}
#editor-tabs.custom-tabs .ui-state-active > a{
    border-bottom:none;
}
#editor-tabs.custom-tabs a{
    cursor:default;
}