/*
 * General
 */
*{
  font-family:"Segoe UI";
}
body{
    max-width:100vw;
    max-height:100vh;
    width:100vw;
    height:100vh;
}

.nav-row .nav.navbar-nav .dropdown{
  height:30px;
  margin: 0px;
}
.nav-row .nav.navbar-nav .dropdown.open >a{
  background-color:#0E639C;
}
.nav-row .nav.navbar-nav .dropdown-menu{
    border-radius: 0px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.176);
    position: absolute;
    right: 0px;
    left: auto;
    padding: 0px;
    margin-top:1px;
    border: none;
}
.nav-row .nav.navbar-nav > li .user-profile-header{
    height: 130px;
    padding: 10px;
    text-align: center;
    background-color:#1395EC;
}
.nav-row .nav.navbar-nav > li .user-profile-header > img{
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-row .nav.navbar-nav > li .user-profile-footer{
    padding: 5px;    
}
.nav-row .nav.navbar-nav > li .user-profile-footer a:hover{
    text-decoration:none;
}
.nav-row .nav.navbar-nav > li .user-profile-footer .col-xs-6{
    padding: 0px 10px;
}
.nav-row .nav.navbar-nav > li .breadcrumb{
  height: 30px;
  padding: 7px;
  border-radius: 0px;
  background-color: #1395EC
}
.nav-row .nav.navbar-nav > li .breadcrumb a{
  color:white;
  background-color:#1395EC;
}
.nav-row .nav.navbar-nav > li .breadcrumb a:hover{
  text-decoration: none;
}
.nav-row .nav.navbar-nav > li > a {
  padding-top: 0px; padding-bottom: 0px; line-height: 30px; 
  color:white;
  background-color:#1395EC;
}

.nav-row .nav.navbar-nav > li > a:hover{
  text-decoration: none;
}
.nav-row .nav.navbar-nav > li > a:hover {
  background-color:#0E639C;
}
.nav-row .nav.navbar-nav > li > button {
  padding-top: 0px; 
  padding-bottom: 0px;
  height: 30px; 
  margin:0px;
  border-radius: 0px;
  border:none;
  color:white;
  background-color:#1395EC;
}
.nav-row .nav.navbar-nav > li > button:hover {
  background-color:#0E639C;
}

/**
   override jQuery UI default tabs
*/
.custom-tabs  {
  background:#F6F6F6 none repeat scroll 0% 0%;
  border:none;
}
.custom-tabs .ui-tabs-nav{
  border:none;
  background: white;
  height:30px;
  display:block;
  border-radius: 0px;
  padding:0px;
  border-bottom:1px solid #E0E0E0;
}
.custom-tabs .ui-tabs-nav li{
  background: white;
  border:none;
  height:30px;
  padding:0px 5px;
  margin: 0px;
  margin-top:-3px;
  
}
.custom-tabs .ui-tabs-nav li > a{
  color:black;
  background:white;
  font-weight:normal;
  font-size:14px;
}
.custom-tabs .ui-tabs-nav li > a:active{
  outline:none;
}
.custom-tabs .ui-state-active > a {
  color:black;
  border-bottom: 3px solid #A349A4;
  height: 32px;
  outline: none;
}

/* fix for bootstrap border tables*/
.borderless td, .borderless th {
    border: none;
}
#slide-menu .box{
  margin:0px;
  border:0px;
  height: calc(100% - 55px);
}
#slide-menu .box-body{
  height:100%;
}

.contextMenu {
  position: absolute;
  display:none;
}