#id-project-menu{
    width:15%;
    height:100%;
    float:left;
}
#id-project-menu > span{
    display:block;
    height:20px;
    width:100%;
}
#id-project-menu > ul{
    display:block;
    list-style:none;
    width:100%;
    height:100%;
    padding-left: 30px;
}
#id-project-menu > ul li:mouseover{
    background-color:rgb(230,230,230);
}
#text-editor-tabs{
    width:85%;
    height:100%;
    float:right;
}
#text-editor-tabs .tab-links{
    width: 100%;
    height: 30px;
    list-style: outside none none;
    display: block;
    font-size: 13px;
    padding: 5px 15px 0px;
    background-color: #F2F2F2;
}
#text-editor-tabs .tab-links li{
    display:inline-block;
    height:100%;
    cursor:pointer;
    padding: 0px 5px;
    margin: 0px 5px;
}
#text-editor-tabs .tab-content{
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    overflow: hidden;
}
#text-editor-tabs .tab-content > div{
    left:0px;
    top:0px;
    height:calc(100% - 30px);
    width:100%;
}
#text-editor-tabs .tab-content > div pre{
    left:0px;
    top:0px;
    height:100%;
    width:100%;
}
#text-editor-tabs .active-tab{
    border-bottom:3px solid rgb(163,73,164);
}