#meeting-space{
  width:100%;
  height:100%;
  padding:10px 60px;
  position:relative;
}
#meeting-space .box{
  height:100%;
}
#meeting-space .box-body{
  height:100%;
  display:flex;
}
.row{
  height: 50%;
}
.col-md-3,.col-md-6{
  height:100%;
}
img{
    width:100%;
    height:100%;
}