#projects-container .explorer{
  margin: 0px;
  height: 100%;
  background-color: #F9F9F9;
  padding:5px 10px;
  border:1px solid black;
}
#projects-container .explorer .title{
    display:block;
    width:100%;
    height:30px;
    border-bottom:2px solid orange;
    padding:5px;
    overflow:hidden;
}
#projects-container  .explorer .title span{ 
    display:inline-block;
    float:left;
    height:100%;
}
#projects-container  .explorer .title .add{
    display:inline-block;
    float:right;
    width:20px;
    height:100%;
    border:1px solid black;
    background-color:green;
    cursor:pointer;
  
}
#projects-container  .explorer .title .add span{
    text-align:center;
    width:100%;
    height:100%;
    font-size:14px;
    font-weight:bold;
    color:white;
    margin-top:-1.85px;

}
#projects-container .explorer .search-div{
    position: relative;
    display:block;
    width:100%;
    height:30px;
    padding:5px;
    overflow:hidden;
}
#projects-container .explorer .search-div input{
  display:block;
  width:100%;
  border-radius: 2px;
  outline:none;
  border:1px solid rgba(128,128,128,0.4);
  padding:0px 5px;
  font-size: 13px;
}
#projects-container .explorer .search-div input:focus{
  box-shadow: 0px 0px 5px #0981F6;
}
#projects-container .explorer .search-div button{
  position: absolute;
  top:6px;
  right:8px;
  height:18px;
  width:17px;
  border:none;
  padding:0px;
  background-color: rgb(255,255,255);
}
#projects-container .explorer .search-div button i{
  position: absolute;
  top:2px;
  left:0px;
  font-size: 15px;
  color:gray;
}
#projects-container .explorer ul{
  list-style: none;
  width:100%;
  height:100%;
  padding:5px;
}
#projects-container .explorer ul li{
  display: block;
  width:100%;
  height:30px;
  border:1px solid rgba(128,128,128,0.2);
  margin-top:5px;
  padding:3px 15px;
}
#projects-container .explorer ul li:hover{
  background-color:rgba(128,128,128,0.2);
}
#projects-container .explorer ul li .active{
  background-color:rgba(128,128,128,0.2);
}
#projects-container .explorer ul li .active{
  border-left:5px solid green;
}
#projects-container .explorer ul li span{
  width:100%;
  height:100%;
}
#projects-container .content{
  padding: 10px;
  height: 100%;
  background-color: #F9F9F9;
  border:1px solid black;
}
#projects-container .content .header 
{
  display: block;
  width: 100%;
  height: 25px;
  border-bottom: 2px solid rgb(27, 165, 18);
  padding: 5px;
  overflow: hidden;
}

#projects-container .content .header span 
{
      float: right;
}

#projects-container .content .image
{
  width: 170px;
  height: 100px;
  display: inline-block;
  float: left;
  background-color: #0A8764;
  margin-top: 15px;
  margin-left: 10px;
}

#projects-container .content .image-details 
{
  width: 290px;
  height: 55px;
  display: inline-block;
  float: right;
  padding: 0px 10px;
  background-color: rgba(165, 165, 165, 0.1);
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}
#projects-container .content .chart 
{
  width: 780px;
  height: 435px;
  padding: 0px 10px;
  background-color: rgba(38, 64, 247, 0.1);
  position: absolute;
  margin-top: 130px;
  margin-left: 10px;
}

#projects-container .content .chart canvas
{
  width :100%;
  height: 100% ;
}
#projects-container .content .left-side-details
{
    width: 290px;
  height: 550px;
  padding: 0px 10px;
  background-color: rgba(231, 232, 242, 0.1);
  position: absolute;
  margin-top: 15px;
  margin-left: 800px;
}
#projects-container .content .left-side-details .addusertitle
{
  display: block;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid orange;
  padding: 5px;
  overflow: hidden;
}
#projects-container .content .left-side-details .addusertitle span
{
  display: inline-block;
  float: left;
  height: 100%;
}
#projects-container .content .left-side-details .addusertitle .add
{
  display: inline-block;
  float: right;
  width: 20px;
  height: 100%;
  border: 1px solid black;
  background-color: green;
  cursor: pointer;
}
#projects-container .content .left-side-details .addusertitle .add span 
{
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: -1.85px;
}
#projects-container .content .left-side-details .search-div
{
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
  overflow: hidden;
}
#projects-container .content .left-side-details .search-div input
{
  display: block;
  width: 100%;
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(128,128,128,0.4);
  padding: 0px 5px;
  font-size: 13px;
}
#projects-container .content .left-side-details .search-div  button 
{
  position: absolute;
  top: 6px;
  right: 8px;
  height: 18px;
  width: 17px;
  border: none;
  padding: 0px;
  background-color: rgb(255,255,255);
}
#projects-container .content .left-side-details .search-div  button i 
{
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 15px;
  color: gray
}
#projects-container .content .left-side-details ul
{
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 5px;
}
#projects-container .content .left-side-details ul li 
{
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(128,128,128,0.2);
  margin-top: 5px;
  padding: 3px 15px;

}
#projects-container .content .left-side-details ul li:hover{
  background-color:rgba(128,128,128,0.2);
}
#projects-container .content .left-side-details ul li .active{
  background-color:rgba(128,128,128,0.2);
}
#projects-container .content .left-side-details ul li .active{
  border-left:5px solid green;
}
#projects-container .content .left-side-details ul li span 
{
  width: 100%;
  height: 100%;
}
.modal .modal-content .invite-more {
   position: absolute;
  background-color: rgb(69, 102, 229);
  width: 100%;
  height: 25px;
}
.modal .modal-content .users {
    position: absolute;
  background-color: red;
  width: 100%;
  margin-top: 30px;
  height: 215px;
  overflow: auto;
}
/*
.modal .modal-content .invites-list {
  position: absolute;
  background-color:blue;
  width: 100%;
  height:90px;
  margin-top:125px; 

}
*/