#code-container{
    padding:30px 90px;
    overflow-y:auto;
}
#repository-tabs{
    margin: -10px;
    background-color: white;
}
#repository-tabs .ui-tabs-panel{
    font-size:14px;
}
.table-item{
    font-size:16px;
    padding:5px;    
}
.table-item span.ion-android-folder{
    color:#FBAE00;
    padding-right:5px;
}
.table-item span.ion-document{
    color:black;
    padding-right:5px;
}
.table-item a{
    color:#084FDE;
    font-size:14px;
    display:inline-block;
    padding:0px 5px;
}
#file-viewer .box-header{
    padding: 5px;
}

