body {
    font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Arial","sans-serif";
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
a:hover,a:visited{
    text-decoration: none;
}
.signin-logo,
.register-logo {
  font-family: "Segoe UI","Helvetica Neue","Helvetica","Arial","sans-serif";
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.signin-logo a,
.register-logo a {
  color: #444;
}
.signin-page,
.register-page {
  background: #F6F6F6 none repeat scroll 0% 0%;
}
.signin-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .signin-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.signin-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  border-radius: 3px;
  box-shadow:0px 1px 7px 0px rgba(0, 0, 0, 0.32);
  border-top:3px solid #1576C9;
}
.signin-box-body input,button{
  border-radius: 3px;
}
.signin-box .fa{
  padding-top:10px;
}
.signin-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
  font-weight: bold;
}
.error-msg p{
  font-size:13px;
  border:none;
  border-left:3px solid #FF3F00;
  padding:3px 5px;
  background-color:antiquewhite;
  display:none;
}
.signin-box .create {
    display: block;
    height: 30px;
    text-align: right;
    padding: 5px;
    margin-top: 10px;
}

.error{
    box-shadow: 0px 0px 3px #C61E1E;
    border: 1px solid red;
}
