.tab{
    width:100%;
    height:100%;
}
.tab .tab-links{
    width: 100%;
    height: 30px;
    list-style: outside none none;
    display: block;
    font-size: 13px;
    padding: 5px 15px 0px;
    background-color: white;
    box-shadow: 0px 2px 4px #D1D1D1;
    z-index: 1;
}
.tab .tab-links li{
    display:inline-block;
    height:100%;
    cursor:pointer;
    padding: 0px 5px;
    margin: 0px 5px;
}
.tab .tab-content{
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    overflow: hidden;
}
.tab .tab-content > div{
    left:0px;
    top:0px;
    height:calc(100% - 30px);
    width:100%;
}
.tab .active-tab{
    border-bottom:3px solid rgb(163,73,164);
}