#signup-panel{
    position: absolute;
    width:100%;
    height:100%;
    padding:15px;
    border:1px solid black;
    display:none;
}
#signup-panel form{
    height:100% ;
    width:100%;
    padding:15px 30px;
}
#signup-panel form input{
    display:block;
    width:100%;
    height:30px;
    margin-top:5px;
    border-radius:2px;
    border:1px solid #AAA6A6;
    padding:5px;
}
#signup-panel form input:focus{
   box-shadow: 0px 0px 3px #069BFF;
}
#signup-panel form button{
    display:block;
    width:100%;
    height:30px;
    margin-top:10px;
    border-radius: 2px;
    border:none;
    background-color:#1395EC;
    color:white;
}
#login-panel{
    height:100%;
    width:350px;
    border:1px solid black;
    float:right;
}
#login-panel form{
    width:100%;
    height:50%;
    padding:10px 0px;
    margin-top:25%;
}
#login-panel form input{
    display:block;
    width:100%;
    height:30px;
    margin-top:15px;
    border-radius:2px;
    border:1px solid #AAA6A6;
    padding:5px;
}

#login-panel form button{
    display:block;
    width:100%;
    height:30px;
    margin-top:15px;
    border-radius: 2px;
    border:none;
    background-color:#1395EC;
    color:white;
}